/* app css stylesheet */

/*Cascading Stylesheet */
h1
{
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: chocolate;
  font-style:italic;
}





.logoImg
{

  position: absolute;
  top: -3px;
  left: 455px;
  width: 117px;

}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


footer {
  background-color: #f2f2f2;
  padding: 2px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

ul
{
  list-style-type: none;
}
.menu-foot
{
  background-color: #F8F8F8;
  color: black;
  height: 85px;
}

.modal-dialog {width:500px;}
.thumbnail {margin-bottom:6px;}

.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
@media screen and (max-width:600px) {
  table#cart tbody td .form-control{
    width:30%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .4rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 4rem;
  }

  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}
.table
{
  width: 72% !Important;
  max-width: 130% !Important;
  margin-bottom: 20px;
}


.product-price .price {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #C0392B;
    margin: -8px 15px 0 0;
}

.product-image:hover{
    opacity: .5;
}

.fa-rupee:before, .fa-inr:before {
    content: "\f156";
}

.fa-info-circle {
    padding-right: 5px;
}

.shoppingListItemContent a img:hover
{
    opacity:.5;
}

.shoppingListItemContent a img {
  padding: 15px;
  margin-bottom: 10px;
}

.category-name{
    background-color: #F8F8F8;
    box-shadow: 0 1px 16px 0 rgb(210, 210, 210);
    padding: 10px 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.shoppingListItemContent a{
  min-height: 235px;
  max-height: 235px;
  display: block;
  overflow: hidden;
}

.shoppingListItemContent{
  background-color: #F8F8F8;
  box-shadow: 0 1px 16px 0 rgb(210, 210, 210);
  margin-bottom: 15px;
  min-height: 340px;
  transition: all .2s ease-in-out;
    text-align: center;  
}

.shoppingListItemContent .infos{
    background: white;
    padding: 10px;
    text-align: center;
    border-top: 1px solid deepskyblue;
}

.name{
    margin: 0 0 7px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    display: block;
}

.variation-container{
    padding-top: 60px;
}

.align-right
{
    float:right;
}

.product-details h4{
    margin: 20px 0;
    font: 32px/40px 'Open Sans', sans-serif;
}

.product-details .description{
    margin: 20px 0;
    font: 16px/22px 'Gentium Basic', serif;
    font-weight: 800;
}

.product-details .price{
    margin: 0;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: #C0392B;
    text-align: left;
    border: 2px dashed #E0E0E0;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.carousel-control.left, .carousel-control.right{
    background-image : -webkit-linear-gradient(left, rgba(255, 255, 255, 0.0) 0%, rgba(0, 0, 0, .0001) 100%) !important;
}

.section-header{
    background-color: #F8F8F8;
    box-shadow: 0 1px 16px 0 rgb(210, 210, 210);
    padding: 5px 10px;
    margin: 10px 0;
}

.details ul{
    background-color: #F8F8F8;
    box-shadow: 0 1px 16px 0 rgb(210, 210, 210);
    padding: 5px 10px;
    margin: 0 15px;
}

.details ul li{
    padding: 5px;
}

#cart{
    float: right;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 1200px){
  .container {
    width: 0px !Important;
  }
  #back{
    position: absolute;
    top: 25px;
    right: 30px;
  }
}

@media (min-width: 992px){
  .container {
    width: 970px !Important;
  }
    #back{
        position: absolute;
        top: 25px;
        right: 30px;
    }
}




